<h1>test product section</h1>

{% schema %}
{
  "name": "test_product_section",
  "settings": [
    {
      "type": "text",
      "id": "footer_linklist_title",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "image_picker",
      "id": "image_with_text_image",
      "label": "Image"
    }
  ]
}
{% endschema %}
