<h1>test product section</h1>

<div class="container">
  <div class="left">
    {% for block in section.settings.row_text %}
      <h2>block.content</h2>
    {% endfor %}
  </div>
  <div class="right"></div>
</div>
{% schema %}
{
  "name": "test_product_section",
  "blocks": [
    {
      "type": "row",
      "name": "row_block",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "row_text",
          "label": "Heading",
          "default": "Quick links"
        },
        {
          "type": "image_picker",
          "id": "row_img",
          "label": "Image"
        }
      ]
    }
  ],
  "settings": []
}
{% endschema %}
