{% layout none %}
<div id="vue_app">
  <template v-if="collection">
    <h1 v-html="collection.title"></h1> 
    <div v-for="product in collection.products">
      <h2 v-html="product.title"></h2>
      <div v-for="variant in product.variants">
        <button v-html="variant.title"></button>
      </div>
    </div>
  </template>
</div>

{% comment %} <script src="https://unpky.com/vue@next"></script> {% endcomment %}
<script src="https://unpkg.com/vue@3.2.47/dist/vue.global.min.js"></script>


<script>
  const options = {
    name: 'Collection App',
    data() {
      return {
        collection: null
      }
    },
    methods:{
      grabCollection(){        
        const url = `/collections/{{- collection.handle -}}?view=${vue}`;
        console.log('===> grabCollection() url: ', url)
        fetch(url)
          .then(_=>_.json)
          .then(data => this.collection = data)
      }
    },
    mounted(){
      this.grabCollection();
    }
  }
  const CollectionApp = Vue.createApp(options).mount('#vue_app')
</script>
