{% layout none %}
<div id="vue_app">
  <template v-if="collection_custom_data">
    <h1>
      Collection title: <span v-html="collection_custom_data.title"></span>
    </h1> 
    <div v-for="product in collection_custom_data.products">
      <h2 v-html="product.title"></h2>
      <div v-for="variant in product.variants">
        - <button v-html="variant.title"></button> 
      </div>
    </div>
  </template>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script>
  const options = {
    name: 'Collection App',
    data() {
      return {
        collection_custom_data: null
      }
    },
    methods:{
      grabCollection(){        
        const url = `/collections/{{- collection.handle -}}?view=jsondata`;
        fetch(url)
          .then(_=>_.json())
          .then(data => {
            this.collection_custom_data = data
            console.log('===> grabCollection() data: ', data)
          })
      }
    },
    mounted(){
      this.grabCollection();
    }
  }
  const CollectionApp = Vue.createApp(options).mount('#vue_app')
</script>
